---
import PageLayout from "@layouts/PageLayout.astro";
import Container from "@components/Container.astro";
import BackToPrev from "@components/BackToPrev.astro";
import { books } from "@lib/books";
---

<PageLayout title="Books" description="Books I recommend.">
  <Container>
    <div class="animate">
      <BackToPrev href="/">
        Back home
      </BackToPrev>
    </div>
    <div class="space-y-6 my-10">
      <div class="animate font-display text-2xl text-content-primary">
        Books I recommend
      </div>
      <p class="animate text-sm text-content-secondary">
        I’m usually drawn to history, economics, biographies, science, and anything that reshapes how I think about systems.
      </p>
      <p class="animate text-sm text-content-secondary">
        In no particular order:
      </p>
      <ul class="animate grid grid-cols-1 sm:grid-cols-2 gap-x-10 gap-y-2.5">
        {books.map(b => (
          <li class="text-sm"><span class="text-content-primary">{b.title}</span><span class="text-content-muted text-xs">, {b.author}</span></li>
        ))}
      </ul>
    </div>
  </Container>
</PageLayout>
